AUTH_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
DEFAULT_MARKUP_PERCENT=150

DATABASE_URL=
STORE_DIR=./data

LZT_API_TOKEN=
LZT_API_BASE_URL=https://prod-api.lzt.market
LZT_TRANSLATE_RU_TO_EN=true

FORTNITE_API_KEY=
FORTNITE_API_BASE_URL=https://fortnite-api.com

VENPAYR_API_KEY=
VENPAYR_BASE_URL=https://dash.venpayr.com
VENPAYR_CUSTOMER_COUNTRY=US

NEXT_PUBLIC_DISCORD_CONTACT_URL=
