AUTH_SECRET=
DATABASE_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
LZT_API_TOKEN=
LZT_CLIENT_ID=
LZT_CLIENT_SECRET=
LZT_OAUTH_TOKEN_URL=
LZT_API_BASE_URL=https://prod-api.lzt.market
LZT_API_SEARCH_URL=
LZT_API_ITEM_URL=
LZT_API_PURCHASE_URL=
LZT_CATEGORY_ENDPOINTS=
LZT_TRANSLATE_RU_TO_EN=true
TRANSLATE_API_URL=
VENPAYR_API_KEY=
VENPAYR_BASE_URL=https://dash.venpayr.com
VENPAYR_WEBHOOK_SECRET=
